@{
    ViewBag.Title = "Inicio";
}

@if (TempData["MensagemLogin"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemLogin"]
    </div>
}

<div class="jumbotron">
    <h1>Login Men</h1>
</div>
